---
title: Vergleichen von Auslastungstestergebnissen in Visual Studio | Microsoft-Dokumentation
ms.date: 10/19/2016
ms.topic: article
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: ghogen
ms.technology: vs-ide-test
ms.openlocfilehash: 2323943ed56c4be3d57f63ce94ddf66cdbc36f15
ms.sourcegitcommit: 900ed1e299cd5bba56249cef8f5cf3981b10cb1c
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 03/19/2018
---
# <a name="reporting-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Reporting Load Tests Results for Test Comparisons or Trend Analysis

Sie können Microsoft Excel-Auslastungstestberichte generieren, die auf zwei oder mehr Testergebnissen basieren. Zwei Typen von Auslastungstestberichten sind verfügbar:

- Vergleich ausführen&mdash;: Bei diesem Bericht handelt es sich eigentlich um zwei Berichte, in denen anhand von Tabellen und Balkendiagrammen Vergleichsdaten nebeneinander angezeigt werden.

- Trend&mdash;: Eine Trendanalyse kann für zwei oder mehr Berichte generiert werden. Die Ergebnisse werden in Form von Liniendiagrammen dargestellt.

Beide Berichte können verwendet werden, um Leistungsdaten für Projektbeteiligte freizugeben, und liefern Informationen dazu, ob die Gesamtleistung und Integrität des Systems besser oder schlechter wird.

Berichtsdefinitionen werden in der Auslastungstestdatenbank gespeichert. Wenn ein Bericht gespeichert wird, wird die Definition für den Bericht in der Datenbank gespeichert und kann später wieder verwendet werden.

Zudem kann das Arbeitsblatt für Projektbeteiligte freigegeben werden, damit diese zum Anzeigen des Berichts keine Verbindung mit der Datenbank herstellen müssen.

> [!NOTE]
> Wenn Sie einem Auslastungstest Kommentare hinzufügen, werden sie im Excel-Bericht angezeigt. Weitere Informationen finden Sie unter [Vorgehensweise: Hinzufügen von Kommentaren während der Analyse eines abgeschlossenen Auslastungstests](../test/how-to-add-comments-on-a-completed-load-test.md).

## <a name="tasks"></a>Aufgaben

|Aufgaben|Verwandte Themen|
|-----------|-----------------------|
|**Erstellen eines Leistungs- und Belastungsberichts:** Sie können mit Microsoft Excel Berichte für die Auslastungs- und Webleistungstests erstellen.|- [Vorgehensweise: Erstellen von Leistungsberichten für Auslastungstests mit Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Manuelles Erstellen eines Leistungs- und Belastungsberichts mithilfe von Microsoft Word:** Sie können manuell Berichte für Auslastungs- und Webleistungstests erstellen, indem Sie die Zusammenfassung, die Tabelle und Diagrammdaten kopieren und in ein Microsoft Word-Dokument einfügen.|- [Vorgehensweise: Manuelles Erstellen von Leistungsberichten für Auslastungstests mit Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Siehe auch

- [Analyze Load Test Results (Analysieren von Auslastungstestergebnissen)](../test/analyze-load-test-results-using-the-load-test-analyzer.md)