---
title: 'Vorgehensweise: Erstellen von benutzerdefinierten Diagrammen in Auslastungstestergebnissen in Visual Studio'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: 633c309193c23834b4848e189fdf677f0abc8ef0
ms.sourcegitcommit: e13e61ddea6032a8282abe16131d9e136a927984
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 04/26/2018
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Gewusst wie: Erstellen von benutzerdefinierten Diagrammen in Auslastungstestergebnissen

Sie können Diagramme entwerfen, in denen bestimmte Informationen zu Auslastungstestergebnissen angezeigt werden. Sie entwerfen ein benutzerdefiniertes Diagramm, indem Sie die Auslastungstestindikatoren angeben, die im Diagramm angezeigt werden.

 Das folgende Verfahren kann ausgeführt werden, während ein Auslastungstest aktiv ist oder nachdem er beendet wurde.

## <a name="to-create-a-custom-load-test-results-graph"></a>So erstellen Sie ein benutzerdefiniertes Diagramm für Auslastungstestergebnisse

1.  Wählen Sie auf der Auslastungstest-Symbolleiste die Option **Neues Diagramm hinzufügen**.

     \- oder –

     Klicken Sie im Auslastungstest-Analyzer mit der rechten Maustaste ins Indikatorenfenster oder in ein Diagramm, und wählen Sie **Diagramm hinzufügen** aus.

     Das Dialogfeld **Diagrammnamen eingeben** wird angezeigt.

2.  Geben Sie unter **Diagrammname** einen Namen für das Diagramm ein, und klicken Sie auf **OK**.

     Das neue Diagramm wird im Auslastungstest-Analyzer angezeigt. Das Diagramm wird im aktuell ausgewählten Diagrammbereich angezeigt und ersetzt das in diesem Bereich angezeigte Diagramm.

3.  Passen Sie das neue Diagramm an, indem Sie Indikatoren hinzufügen. Weitere Informationen finden Sie unter [How to: Add and Delete Counters on Graphs (Vorgehensweise: Hinzufügen und Löschen von Indikatoren in Diagrammen)](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Siehe auch

- [Analyze Load Test Results in the Graphs View (Analysieren von Auslastungstestergebnissen in der Diagrammansicht)](../test/analyze-load-test-results-in-the-graphs-view.md)
- [How to: Add and Delete Counters on Graphs (Vorgehensweise: Hinzufügen und Löschen von Indikatoren in Diagrammen)](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)