---
title: 'Vorgehensweise: Erstellen von benutzerdefinierten Graphen in Auslastungstestergebnissen'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 10433c63e0bad00d187f79634f74fa3727edc3dc
ms.sourcegitcommit: f3f668ecaf11b4c2738ebc91923c6b5e38e74670
ms.translationtype: HT
ms.contentlocale: de-DE
ms.lasthandoff: 01/16/2020
ms.locfileid: "76113298"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Vorgehensweise: Erstellen von benutzerdefinierten Graphen in Auslastungstestergebnissen

Sie können Diagramme entwerfen, in denen bestimmte Informationen zu Auslastungstestergebnissen angezeigt werden. Sie entwerfen ein benutzerdefiniertes Diagramm, indem Sie die Auslastungstestindikatoren angeben, die im Diagramm angezeigt werden.

Das folgende Verfahren kann ausgeführt werden, während ein Auslastungstest aktiv ist oder nachdem er beendet wurde.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>So erstellen Sie ein benutzerdefiniertes Diagramm für Auslastungstestergebnisse

1. Klicken Sie in der **Auslastungstest**-Symbolleiste auf die Option **Neues Diagramm hinzufügen**.

     \- oder -

     Klicken Sie im **Auslastungstest-Analyzer** mit der rechten Maustaste in das Panel **Indikator** oder in ein Diagramm, und klicken Sie auf **Diagramm hinzufügen**.

     Das Dialogfeld **Diagrammnamen eingeben** wird angezeigt.

2. Geben Sie unter **Diagrammname** einen Namen für das Diagramm ein, und klicken Sie auf **OK**.

     Das neue Diagramm wird im **Auslastungstest-Analyzer** angezeigt. Das Diagramm wird im aktuell ausgewählten Diagrammbereich angezeigt und ersetzt das in diesem Bereich angezeigte Diagramm.

3. Passen Sie das neue Diagramm an, indem Sie Indikatoren hinzufügen. Weitere Informationen finden Sie unter [How to: Add and delete counters on graphs (Vorgehensweise: Hinzufügen und Löschen von Indikatoren in Graphen)](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Siehe auch

- [Analyze Load Test Results in the Graphs View (Analysieren von Auslastungstestergebnissen in der Diagrammansicht)](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Vorgehensweise: Add and delete counters on graphs (Vorgehensweise: Hinzufügen und Löschen von Indikatoren in Graphen)](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
